<div class="row" ng-controller="gta.types.TypeCtrl as ctrl">
    <h2>Типы</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Наименование типа</th>
                <th>Контрол(что рисуется)</th>
                <th>Составной\несоставной</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="type in ctrl.types" ng-click="ctrl.editType(type.id)">
                <td ng-bind="type.name"></td>
                <td ng-bind="type.control"></td>
                <td>
                    <input type="checkbox" ng-checked="type.isComplex"/>
                </td>
            </tr>
        </tbody>
    </table>
</div>