<div class="container" ng-controller="gta.types.EditTypeCtrl as ctrl">
    <div class="row">
        <h2 ng-bind="ctrl.current.name"></h2>
    </div>

    <div class="row">
        <div class="col-md-2">
            <select ng-model="ctrl.current.control" ng-options="c for c in ctrl.controls">
            </select>
        </div>
        <div class="col-md-6" ng-switch on="ctrl.current.control">
            <input ng-switch-when="text" type="text"/>
            <input ng-switch-when="number" type="text"/>
            <input ng-switch-when="checkbox" type="checkbox"/>

            <select ng-switch-when="select"></select>
        </div>

    </div>

    <pre ng-bind="ctrl|json"></pre>
</div>
